In [ ]:
Section 1

SELECT Accel FROM EVCARS

SELECT Accel,	RTRIM(Accel, 'sec')
FROM EVCARS

UPDATE EVCARS
SET Accel = 	RTRIM(Accel, 'sec')

ALTER TABLE EVCARS
RENAME Accel to "AccelSec"

SELECT Accelsec from EVCARS

In [ ]:
Section 2

2.1
SELECT TopSpeed FROM EVCARS

SELECT TopSpeed, rtrim(TopSpeed, "km/h")
FROM EVCAR

UPDATE EVCARS
SET TopSpeed = 	RTRIM(TopSpeed, 'km/h')

SELECT Topspeedkm/h from EVCARS

2.6

SELECT TopSpeed AS ORIGINALTOPSPEED,
round(TopSpeed * 0.621371, 1) AS TOPSPEEDPMH
FROM EVCARS

UPDATE EVCARS
SET TopSpeed = round(TopSpeed * 0.621371, 1) ;

ALTER TABLE EVCARS
RENAME Topspeed to "TopspeedMPH"

SELECT *
FROM EVCARS

In [ ]:
Section 3

SELECT Range from EVCARS

SELECT Range,	RTRIM(Range, 'km')
FROM EVCARS

UPDATE EVCARS
SET Range = 	RTRIM(Range, 'km')

3.6

SELECT Range AS ORIGINALRANGE,
round(Range * 0.621371, 1) AS RANGEMILES
FROM EVCARS

UPDATE EVCARS
SET Range = round(Range * 0.621371, 1) ;

ALTER TABLE EVCARS
RENAME Range to "rangeMiles"

SELECT *
FROM EVCARS

In [ ]:
Section 4

SELECT  Efficiency, FastCharge
from EVCARS

SELECT  Efficiency, FastCharge, rtrim(Efficiency, 'Wh/km'),  rtrim(FastCharge, 'km/h')
FROM EVCARS

UPDATE EVCARS
SET Efficiency = rtrim(Efficiency, 'Wh/km'), FastCharge =  rtrim(FastCharge, 'km/h')

SELECT  Efficiency, FastCharge
from EVCARS

4.6

SELECT FASRCHARGE AS ORIGINALFASTCHARGE,
round(FASTCHARGE * 0.621371, 1) AS ONEHOURFASTCHARGEMILES
FROM EVCARS

UPDATE EVCARS
SET Fastcharge = round(Fastcharge * 0.621371, 1) ;

ALTER TABLE EVCARS
RENAME Efficiency to "efficiencyWHperKM"

ALTER TABLE EVCARS
RENAME FASTCHARGE to "OneHourFastChargeMiles"

SELECT *
FROM EVCARS

In [ ]:
Section 5

SELECT RapidCharge, count (*)
FROM EVCARS
GROUP BY RapidCharge

UPDATE EVCARS
SET RapidCharge = 
CASE
    WHEN RapidCharge = 'RAPIDCHARGE' THEN 'Yes'
    WHEN RapidCharge = 'RAPIDCHARGE NOT POSSIBLE' THEN 'No'
    ELSE RapidCharge  -- Keep the existing value if it doesn't match the specified conditions
  END;


For the purpose of this exercise, if the car's RapidCharge value equals RAPIDCHARGE then I want you to change the value to 'Yes'
If the RapidCharge value equals RAPIDCHARGE NOT POSSIBLE then I want you to change the value to 'No'.

In [ ]:
Section 6

SELECT POWERTRAIN, count (*)
FROM EVCARS
GROUP BY POWERTRAIN

All Wheel Drive	
Front Wheel Drive	
Rear Wheel Drive	

look at the three DISTINCT values from the query you wrote in 6.1 and fill in the blanks.
If the PowerTrain equals ALL WHEEL DRIVE then I want you to change the value to 'AWD'
If the PowerTrain equals REAR WHEEL DRIVE then I want you to change the value to 'RWD'
If the PowerTrain equals FRONT WHEEL DRIVE then I want you to change the value to 'FWD'

UPDATE EvCars
SET PowerTrain = 'AWD'
WHERE PowerTrain = 'All Wheel Drive'
UPDATE EvCars
SET PowerTrain = 'RWD'
WHERE PowerTrain = 'Rear Wheel Drive'
UPDATE EvCars
SET PowerTrain = 'FWD'
WHERE PowerTrain = 'Front Wheel Drive'

SELECT *
FROM EVCARS

In [ ]:
Section 7

--Write a select statement to multiply the PriceEuro by 1.09 and Return PriceEuro and calculated column. Round the calculated column to 2 decimal places.

SELECT PriceEuro, ROUND(PriceEuro * 1.09, 2) 
FROM EvCars

UPDATE EvCars 
SET PriceEuro = ROUND(PriceEuro * 1.09, 2) 

ALTER TABLE EvCars
RENAME PriceEuro to PriceUSD